//-------------------------------------------------------
//- Modules :: Header
//-------------------------------------------------------

mixin header()
  header.header
    .container
      .small-header
        ul.list-inline.small-header__contact
          li.list-inline-item
            span.small-header__icon
              i.far.fa-envelope
            span.small-header__text info@shopy.com
          li.list-inline-item
            span.small-header__icon
              i.fas.fa-phone-volume
            span.small-header__text 453 - 5553 - 996
        ul.list-inline.small-header__social-network
          each item, index in ['fab fa-facebook-f', 'fab fa-twitter', 'fab fa-google-plus-g', 'fab fa-instagram']
            li.list-inline-item
              a.small-header__link(href="#")
                i(class= item)
      .big-header
        .row
          .col-md-2
            a.navbar-brand(href="#")
              img(src="images/logoo.png", alt="shopy")
          .col-md-10
            button.navbar-toggler.d-none(
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            )
              span.avbar-toggler-icon
            nav.navbar.navbar-expand-lg
              .collapse.navbar-collapse#navbarSupportedContent
                ul.navbar-nav.mr-auto
                  -
                    var navData = [
                      {
                        name: 'Home',
                        active: true
                      },
                      {
                        name: 'Products'
                      },
                      {
                        name: 'Hot Deals'
                      },
                      {
                        name: 'About'
                      },
                      {
                        name: 'Contact'
                      }
                    ]
                  each item in navData
                    li.nav-item(class= item.active ? 'active' : null)
                      a.nav-link(href="#")= item.name
                .big-header__action
                  ul.list-inline
                    li.list-inline-item
                      form.form-inline.my-2.my-lg-0.search
                        input.form-control.mr-sm-2.d-none(
                          type="search"
                          placeholder="Search"
                          aria-label="Search"
                        )
                        button.btn.search__button(type="submit")
                          i.fas.fa-search
                    li.list-inline-item
                      .dropdown.show.profile
                        a.btn.dropdown-toggle.profile__button(
                          href="#"
                          role="button"
                          id="profile"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                        )
                          i.far.fa-user
                        .dropdown-menu.profile__dropdown-menu(aria-labelledby="profile")
                          a.dropdown-item(href="#") Profile
                          a.dropdown-item(href="#") Logout
                    li.list-inline-item
                      .cart
                        a.cart__link(href="#")
                          i.fas.fa-shopping-cart
                          span.cart__amount 5
