//-------------------------------------------------------
//- Modules :: Header
//-------------------------------------------------------

mixin header()
  header.header
    .small-header
      .container
        .small-header__inner
          ul.list-inline.small-header__contact
            li.list-inline-item
              span.small-header__icon
                i.far.fa-envelope
              span.small-header__text info@shopy.com
            li.list-inline-item
              span.small-header__icon
                i.fas.fa-phone-volume
              span.small-header__text 453 - 5553 - 996
          ul.list-inline.small-header__social-network
            each item, index in ['fab fa-facebook-f', 'fab fa-twitter', 'fab fa-google-plus-g', 'fab fa-instagram']
              li.list-inline-item
                a.small-header__link(href="#")
                  i(class= item)
    .big-header
      .container
        .row
          .col-lg-2.big-header__logo
            a.navbar-brand(href="#")
              img(src="images/logoo.png", alt="shopy")
            button.navbar-toggler.d-md-block.d-lg-none.big-header__toggle-button(
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            )
              span.navbar-toggler-icon
          .col-lg-10
            nav.navbar.navbar-expand-lg
              .collapse.navbar-collapse#navbarSupportedContent
                ul.navbar-nav.mr-auto
                  -
                    var navData = [
                      {
                        name: 'Home',
                        link: 'home.html',
                        active: true
                      },
                      {
                        name: 'Products',
                        link: 'SP-02-product-show.html'
                      },
                      {
                        name: 'Hot Deals',
                        link: '#'
                      },
                      {
                        name: 'About',
                        link: '#'
                      },
                      {
                        name: 'Contact',
                        link: '#'
                      }
                    ]
                  each item in navData
                    li.nav-item(class= item.active ? 'active' : null)
                      a.nav-link(href= item.link)= item.name
                .big-header__action
                  ul.list-inline
                    li.list-inline-item
                      form.form-inline.my-2.my-lg-0.search
                        input.form-control.mr-sm-2.d-none.search__input(
                          type="search"
                          placeholder="Search"
                          aria-label="Search"
                        )
                        button.btn.search__button(type="submit")
                          i.fas.fa-search
                    li.list-inline-item
                      .dropdown.show.profile
                        a.btn.dropdown-toggle.profile__button(
                          href="#"
                          role="button"
                          id="profile"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                        )
                          i.far.fa-user
                        .dropdown-menu.profile__dropdown-menu(aria-labelledby="profile")
                          a.dropdown-item(href="#") Profile
                          a.dropdown-item(href="#") Logout
                    li.list-inline-item
                      .dropdown.cart
                        button.btn.dropdown-toggle.cart__button#cardDropdownButton(
                          type="button"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                        )
                          i.fas.fa-shopping-cart
                          span.cart__amount 5
                        .dropdown-arrow
                        .dropdown-menu.dropdown-menu-right.cart__dropdown(aria-labelledby="cardDropdownButton")
                          a.dropdown-item(href="#") Action
                          a.dropdown-item(href="#") Another action
                          a.dropdown-item(href="#") Something else here
