//-------------------------------------------------------
//- Modules :: Radio Button
//-------------------------------------------------------

mixin group-input-radio({name, id, label, disabled, desc, checked})
  .custom-control.custom-checkbox()&attributes(attributes)
    input.custom-control__input(
      type= 'radio'
      name= name ? `${name}` : null
      id= id ? `${id}` : null
      checked= checked ? 'checked' : null
      disabled= disabled ? 'disabled' : null
    )
    label.custom-control__label(for= id ? `${id}` : null)
      | #{label}
      if desc
        .text-muted
          | #{desc}