//-------------------------------------------------------
//- Modules :: Selectbox
//-------------------------------------------------------
mixin selectbox({id, label, options, disabled})
  .select-box
    select.custom-select(
      class= disabled ? 'custom-select--disabled' : null
      disabled= disabled ? 'disabled' : null
    )
      each val in options
        option(
          value= val.value
          selected= val.selected ? 'selected' : null
        )
          | #{val.display}
mixin group-selectbox({id, label, require, disabled, size, isValid, isInvalid, noticeError,options})
  .form-group.form-customize()&attributes(attributes)
    label(
      for= id ? `${id}` : null
      class= size ? `select-label--${size}` : null
    )
      | #{label}
      if require
        span.require *
    .select-box
      select.custom-select(
        disabled= disabled ? 'disabled' : null
        class= isValid ? 'select-box--valid' : null
        class= isInvalid ? 'select-box--invalid' : null
        class= size ? `select-box--${size}` : null
      )
        each val in options
          option(
            value= `${val.value}`
            selected= val.selected ? 'selected' : null
          )
            | #{val.display}
      if noticeError
        .error-notice
          i.fa.fa-exclamation-circle.fa-fw
          | #{noticeError}
