mixin sidebarTop(data, category, currentPage)
  ul.navbar-nav
    each val in data
      li.nav-item(
        class= val.secondLevelMenu ? "submenu" : ""
        class= (val.name == category) ? "active" : ""
      )
        if val.secondLevelMenu
          a.nav-link.collapsed(
            href= val.id ? "#" + val.id : null
            data-toggle="collapse"
            role="button"
            aria-expanded="false"
            aria-controls= val.id ? val.id : null
          )
            if val.icon
              span.nav-icon(
                class= val.icon
              )
              |#{val.name}
            if val.badge
              span.badge(
                class= val.badge.type ? `badge--${val.badge.type}` : null
              )
                | #{val.badge.content}
          .collapse(
            id= val.id ? val.id : null
            data-parent= "#sidebarAccordion"
            class= (val.name == category) ? 'show' : null
          )
            ul.nav.flex-column
              each secondLevel in val.secondLevelMenu
                li.nav-item(
                  class= secondLevel.thirdLevelMenu ? "submenu" : ""
                )
                  if secondLevel.thirdLevelMenu
                    a.nav-link(
                      href= secondLevel.id ? "#" + secondLevel.id : null
                      data-toggle="collapse"
                      role="button"
                      aria-expanded="false"
                      aria-controls= secondLevel.id ? secondLevel.id : null
                    )= secondLevel.name
                    .collapse(
                      id= secondLevel.id ? secondLevel.id : null
                    )
                      ul.nav.flex-column
                        each thirdLevel in secondLevel.thirdLevelMenu
                          li.nav-item(
                            class= thirdLevel.fouthLevelMenu ? "submenu" : ""
                          )
                            if thirdLevel.fouthLevelMenu
                              a.nav-link(
                                href= thirdLevel.id ? "#" + thirdLevel.id : null
                                data-toggle="collapse"
                                role="button"
                                aria-expanded="false"
                                aria-controls= thirdLevel.id ? thirdLevel.id : null
                              )= thirdLevel.name
                              .collapse(
                                id= thirdLevel.id ? thirdLevel.id : null
                              )
                                ul.nav.flex-column
                                  each fouthLevel in thirdLevel.fouthLevelMenu
                                    li.nav-item
                                      a.nav-link(
                                        href= fouthLevel.url
                                        class= (fouthLevel.url==currentPage) ? 'active' : null
                                      )= fouthLevel.name
                            else
                              li.nav-item
                                a.nav-link(
                                  href= thirdLevel.url
                                  class= (thirdLevel.url==currentPage) ? 'active' : null
                                )= thirdLevel.name
                  else
                    a.nav-link(
                      href= secondLevel.url
                      class= secondLevel.isActive ? "active" : ""
                      class= (secondLevel.url==currentPage) ? 'active' : null
                    )= secondLevel.name
                      if secondLevel.badge
                        span.badge(
                          class= secondLevel.badge.type ? `badge--${secondLevel.badge.type}` : null
                        )
                          | #{secondLevel.badge.content}
        else
          a.nav-link(
            href= val.url
            class= (val.url==currentPage) ? 'active' : null
          )
            if val.icon
              span.nav-icon(
                class= val.icon
              )
              |#{val.name}
            if val.badge
              span.badge(
                class= val.badge.type ? `badge--${val.badge.type}` : null
              )
                | #{val.badge.content}
