mixin sidebarTop(data, category, currentPage)
  ul.navbar-nav
    each item in data
      li.nav-item(
        class=item.secondLevelMenu ? 'submenu' : '', 
        class=(item.name == category) ? 'active' : ''
      )
        a.nav-link(
          href = item.secondLevelMenu ? (item.id ? `#${item.id}` : "javascript:void(0)") : (item.url ? item.url : "javascript:void(0)")
          data-toggle = item.secondLevelMenu ? "collapse" : null
          aria-expanded = (item.secondLevelMenu && item.name == category) ? "true" : "false"
          aria-controls = item.secondLevelMenu ? item.id : null
          role= item.secondLevelMenu ? "button" : null
        )
          if item.icon
            i.nav-icon(class= item.icon)
          if item.name
            span.nav-text= item.name
          if item.badge
            span.badge.ml-auto(class= `badge--${item.badge.type}`)= item.badge.content
        if item.secondLevelMenu
          .collapse(
            id= item.id,
            class=(item.name == category) ? "show" : "",
            data-parent="#sidebarAccordion"
          )
            ul.nav.flex-column
              each sub in item.secondLevelMenu
                li.nav-item(
                  class=sub.thirdLevelMenu ? 'submenu' : '',
                  class= (sub.url === currentPage) ? 'active' : ''
                )
                  a.nav-link(
                    href = sub.thirdLevelMenu ?  (sub.id ? `#${sub.id}` : "javascript:void(0)") : (sub.url ? sub.url : "javascript:void(0)")
                    data-toggle = sub.thirdLevelMenu ? "collapse" : null
                    aria-expanded = sub.thirdLevelMenu ? "false" : null
                    aria-controls = sub.thirdLevelMenu ? sub.id : null
                    role= sub.thirdLevelMenu ? "button" : null
                  )
                    | #{sub.name}
                  if sub.thirdLevelMenu
                    .collapse(
                      id= sub.id
                      class=(sub.name == currentPage) ? "show" : "",
                    )
                      ul.nav.flex-column
                        each child in sub.thirdLevelMenu
                          li.nav-item
                            a.nav-link(
                              href= child.url ? child.url : '#'
                            )= child.name
