//-------------------------------------------------------
//- Components :: Product by Category
//-------------------------------------------------------

mixin previewProduct({pretitle, aftertitle, desc, data})
  section.preview-product
    .container
      .preview-product__header
        h2.preview-product__heading
          span.cl-orange= pretitle
          |  #{aftertitle}
        p.preview-product__desc= desc
      .preview-product__inner
        .row.preview-product__product-list&attributes(attributes)
          each item in data
            .col-12.col-md-6.col-lg-3
              .card.product
                .product__image
                  a(href="#")
                    img.card-img-top(
                    src= item.image
                    alt="product new arrivals"
                    )
                .card-body
                  h5.product__title
                    a(href="#")= item.name
                  .product__price= item.price
                .product__summary
                  h5.product__title
                    a(href="#")= item.name
                  .product__size
                    span sizes : 
                    span= item.size
                  ul.list-inline.product__color
                    each val, index in item.color
                      li.list-inline-item
                        span.circle(
                          class= `circle--${val}`
                        )
                  hr.product__devider
                  ul.list-inline.product__action
                    li.list-inline-item
                      a.product__icon-link(href="#")
                        i.fas.fa-share-alt
                    li.list-inline-item
                      a.product__icon-link(href="#")
                        i.fas.fa-shopping-cart
                    li.list-inline-item
                      a.product__icon-link(href="#")
                        i.far.fa-heart
        block
