//-------------------------------------------------------
//- Modal :: Member Modal 
//-------------------------------------------------------
mixin membersModal()
  .modal.fade.members-modal#membersModal(
    tabindex="-1"
    role="dialog"
    aria-modal="true"
  )
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          +group-input-field({
            id: 'search-members',
            type: 'text',
            value: '',
            placeholder: 'Search Members',
            iconBefore: 'oi oi-magnifying-glass',
            clearableIcon: 'fa fa-times-circle'
          })
        .modal-body
          .list-group.list-group-flush.list-group-divider
            -
              var membersData = [
                {
                  user: {
                    avatar: 'images/uifaces5.jpg',
                    name: 'Craig Hansen',
                  },
                  job: 'Software Developer',
                  follow: false 
                },
                {
                  user: {
                    avatar: 'images/uifaces9.jpg',
                    name: 'Jane Barnes',
                  },
                  job: 'Social Worker',
                  follow: true
                },
                {
                  user: {
                    avatar: 'images/uifaces4.jpg',
                    name: 'Nicole Barnett',
                  },
                  job: 'Marketing Manager',
                  follow: false 
                },
                {
                  user: {
                    avatar: 'images/uifaces6.jpg',
                    name: 'Michael Ward',
                  },
                  job: 'Lawyer',
                  follow: true
                },
                {
                  user: {
                    avatar: 'images/uifaces8.jpg',
                    name: 'Juan Fuller',
                  },
                  job: 'Budget analyst',
                  follow: true
                },
                {
                  user: {
                    avatar: 'images/uifaces7.jpg',
                    name: 'Julia Silva',
                  },
                  job: 'Photographer',
                  follow: false
                },
                {
                  user: {
                    avatar: 'images/uifaces10.jpg',
                    name: 'Joe Hanson',
                  },
                  job: 'Logistician',
                  follow: true
                },
                {
                  user: {
                    avatar: 'images/uifaces11.jpg',
                    name: 'Brenda Griffin',
                  },
                  job: 'Medical Assistant',
                  follow: false
                },
                {
                  user: {
                    avatar: 'images/uifaces12.jpg',
                    name: 'Ryan Jimenez',
                  },
                  job: 'Photographer',
                  follow: false
                },
                {
                  user: {
                    avatar: 'images/uifaces13.jpg',
                    name: 'Bryan Hayes',
                  },
                  job: 'Computer Systems Analyst',
                  follow: false
                }
              ];
            each item in membersData
              .list-group-item
                .members-modal__figure
                  if item.user
                    a.user-avatar(href="#")
                      img(
                        src= item.user.avatar
                        alt= item.user.name
                      )
                .members-modal__content
                  if item.user.name
                    h6.members-modal__title
                      a(href="#")
                        | #{item.user.name}
                  if item.job
                    p= item.job
                .dropdown.members-modal__more
                  a.button.user-team__chat.button--link(
                    href="#"
                    data-toggle="dropdown"
                    aria-expanded="true"
                    data-display="static"
                  )
                    i.fa.fa-fw.fa-ellipsis-v
                  .dropdown-arrow.dropdown-arrow--left
                  .dropdown-menu.dropdown-menu-right
                    a.dropdown-item(href="#") Message
                    a.dropdown-item(href="#") Invite to a team
                    a.dropdown-item(href="#") Copy member ID
                    .dropdown-divider
                    a.dropdown-item(href="#") Remove
        .modal-footer
          +buttons({
            text: 'Close',
            type: 'link' 
          })(data-dismiss="modal")