extends modules/layout/_page-default

block head
  +head('Shopy')
block header
  +header('Home')
block main 
  section.main-carousel
    .carousel.slide#mainCarousel(data-ride="carousel")
      ul.carousel-indicators
        - for (var i = 0; i < 3; i++) {
          li(
            class= i === 0 && 'active'
            data-target="#mainCarousel"
            data-slide-to= i
          )
        - }
      .carousel-inner
        - for (var i = 0; i < 3; i++) {
          .carousel-item(class= i === 0 && 'active')
            img(
              src="images/banner.jpg"
              alt="Full winter kit"
            )
            .main-carousel__caption
              h3.main-carousel__title=  i !== 0 ? 'Full Winter Kit' : 'Full Summer Kit'
              p.main-carousel__product Half Jacket + Skiny Trousers + Boot leather
              p.main-carousel__desc Lorem Ipsum is simply dummy text of the printing and typesetting industry 
              .main-carousel__inner
                span Price: 120$
                a.main-carousel__order(href="#")
                  i.fas.fa-shopping-cart
                  | Order Now
        - }
  -
    var newArrivalsData = [
      {
        image: "images/product1.png",
        name: "Reebok Track Jacket",
        price: "100$",
        size: "s - m - xl",
        color: ["red", "black", "blue", "green"]
      },
      {
        image: "images/product2.png",
        name: "Reebok Track Jacket",
        price: "100$",
        size: "s - m - xl",
        color: ["red", "black", "blue", "green"]
      },
      {
        image: "images/product3.png",
        name: "Reebok Track Jacket",
        price: "100$",
        size: "s - m - xl",
        color: ["red", "black", "blue", "green"]
      },
      {
        image: "images/product3.png",
        name: "Reebok Track Jacket",
        price: "100$",
        size: "s - m - xl",
        color: ["red", "black", "blue", "green"]
      },
      {
        image: "images/product1.png",
        name: "Reebok Track Jacket",
        price: "100$",
        size: "s - m - xl",
        color: ["red", "black", "blue", "green"]
      },
      {
        image: "images/product1.png",
        name: "Reebok Track Jacket",
        price: "100$",
        size: "s - m - xl",
        color: ["red", "black", "blue", "green"]
      },
      {
        image: "images/product2.png",
        name: "Reebok Track Jacket",
        price: "100$",
        size: "s - m - xl",
        color: ["red", "black", "blue", "green"]
      },
      {
        image: "images/product3.png",
        name: "Reebok Track Jacket",
        price: "100$",
        size: "s - m - xl",
        color: ["red", "black", "blue", "green"]
      },
      {
        image: "images/product2.png",
        name: "Reebok Track Jacket",
        price: "100$",
        size: "s - m - xl",
        color: ["red", "black", "blue", "green"]
      },
      {
        image: "images/product1.png",
        name: "Reebok Track Jacket",
        price: "100$",
        size: "s - m - xl",
        color: ["red", "black", "blue", "green"]
      },
      {
        image: "images/product3.png",
        name: "Reebok Track Jacket",
        price: "100$",
        size: "s - m - xl",
        color: ["red", "black", "blue", "green"]
      },
    ]
  +previewProduct({
    pretitle: "New",
    aftertitle: "Arrivals",
    desc: "Lorem Ipsum is simply dummy text of the printing and typesetting industry ",
    data: newArrivalsData
  })(class="js-new-product-carousel")
  section.advertisment-section
    .container
      .row
        .col-12.col-md-7.banner
          img(src="images/hot-deal.jpg", alt="hot deal")
        .col-12.col-md-5.banner
          img(src="images/advertisment.jpg", alt="advertisment")
  section.best-sales
    .container
      .best-sales__header
        h2.best-sales__heading
          span.cl-orange Best  
          | Sales
        p.best-sales__desc Lorem Ipsum is simply dummy text of the printing and typesetting industry
      .best-sales__inner
        .row
          -
            var bestSaleData = [
              {
                image: "images/product-sm1.png",
                name: "Reebok Track Jacket",
                price: "100$"
              },
              {
                image: "images/product-sm1.png",
                name: "Reebok Track Jacket",
                price: "100$"
              },
              {
                image: "images/product-sm1.png",
                name: "Reebok Track Jacket",
                price: "100$"
              }
            ]
          each item in bestSaleData
            .col-md-4
              .card.product-sales
                .product-sales__inner
                  .product-sales__image
                    a(href="#")
                      img(src= item.image, alt="best sale")
                  .product-sales__content
                    h5.product-sales__title
                      a(href="#")= item.name
                    .product-sales__info
                      .rating
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                      span.product-sales__price= item.price
                    .product-sales__add-cart
                      a(href="#")
                        i.fas.fa-shopping-cart.product-sales__icon
                        span add to cart  
  +news-letter()





        
            

              
