extends modules/layout/_page-default

block head
  +head('Shopy')
block main 
  section.hero
    .carousel.slide#heroCarousel(data-ride="carousel")
      ul.carousel-indicators
        li.active(
          data-target="#heroCarousel"
          data-slide-to="0"
        )
        li(
          data-target="#heroCarousel"
          data-slide-to="1"
        )
        li(
          data-target="#heroCarousel"
          data-slide-to="2"
        )
      .carousel-inner
        .carousel-item.active
          img(
            src="images/banner.jpg"
            alt="Full winter kit"
          )
          .hero__caption
            h3.hero__title Full Winter Kit
            p.hero__product Half Jacket + Skiny Trousers + Boot leather
            p.hero__desc Lorem Ipsum is simply dummy text of the printing and typesetting industry
            .hero__inner
              span Price: 120$
              a.hero__order(href="#")
                i.fas.fa-shopping-cart
                | Order Now
        .carousel-item
          img(
            src="images/banner.jpg"
            alt="Full winter kit"
          )
          .hero__caption
            h3.hero__title Full Summer Kit
            p.hero__product Half Jacket + Skiny Trousers + Boot leather
            p.hero__desc Lorem Ipsum is simply dummy text of the printing and typesetting industry
            .hero__inner
              span Price: 120$
              a.hero__order(href="#")
                i.fas.fa-shopping-cart
                | Order Now
        .carousel-item
          img(
            src="images/banner.jpg"
            alt="Full winter kit"
          )
          .hero__caption
            h3.hero__title Full Spring Kit
            p.hero__product Half Jacket + Skiny Trousers + Boot leather
            p.hero__desc Lorem Ipsum is simply dummy text of the printing and typesetting industry
            .hero__inner
              span Price: 120$
              a.hero__order(href="#")
                i.fas.fa-shopping-cart
                | Order Now
  section.new-arrivals
    .container
      .new-arrivals__header
        h3.new-arrivals__heading
          span.cl-orange New 
          | Arrivals
        p.new-arrivals__desc Lorem Ipsum is simply dummy text of the printing and typesetting industry
      .new-arrivals__inner
        .row
          -
            var newArrivalsData = [
              {
                image: "images/product1.png",
                name: "Reebok Track Jacket",
                price: "100$",
                size: "s - m - xl",
                color: ["red", "black", "blue", "green"]
              },
              {
                image: "images/product2.png",
                name: "Reebok Track Jacket",
                price: "100$",
                size: "s - m - xl",
                color: ["red", "black", "blue", "green"]
              },
              {
                image: "images/product3.png",
                name: "Reebok Track Jacket",
                price: "100$",
                size: "s - m - xl",
                color: ["red", "black", "blue", "green"]
              },
              {
                image: "images/product3.png",
                name: "Reebok Track Jacket",
                price: "100$",
                size: "s - m - xl",
                color: ["red", "black", "blue", "green"]
              }
            ]
          each item in newArrivalsData
            .col-md-3
              .card.product
                .product__image
                  a(href="#")
                    img.card-img-top(
                    src= item.image
                    alt="product new arrivals"
                    )
                .card-body
                  h5.product__title
                    a(href="#")= item.name
                  .product__price= item.price
                  .product__summary
                    .product__size
                      span sizes : 
                      span= item.size
                    ul.list-inline.product__color
                      each val, index in item.color
                        li.list-inline-item
                          .far.fa-circle.circle(
                            class= "circle--#{val}"
                          )
                    ul.list-inline.product__action
                      li.list-inline-item
                        a(href="#")
                          i.fas.fa-share-alt
                      li.list-inline-item
                        a(href="#")
                          i.fas.fa-shopping-cart
                      li.list-inline-item
                        a(href="#")
                          i.far.fa-heart
