extends modules/layout/_page-default

block head
  +head('Shopy Product Show')
block main
  section.product-show
    .container
      .product-detail
        .row
          .col-md-5
            h1 hello
          .col-md-7
            h3.product-detail__title full winter kit
            .product-detail__subtitle Half Jacket + Skiny Trousers + Boot leather
            p.product-detail__desc 
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry
              <br> Lorem Ipsum is simply dummy text of the printing
              <br> and typesetting industry
            .product-detail__option
              .product-detail__size-choose
                span Choose Size
                .product-detail__sizes
                  each item, index in ["X", "M", "L", "XL"]
                    a.product-detail__size(href="#")= item
              .product-detail__quantity-choose
                span Choose Quantity
                .quantity
                  button.quantity__button +
                  input.quantity__input(
                    type="text"
                    min= "1"
                    value= "3"
                    )
                  button.quantity__button -
            .product-detail__inner
              span.product-detail__price Price : 120$
              ul.list-inline.product-detail__action
                li.list-inline-item
                  a.product__icon-link(href="#")
                    i.fas.fa-share-alt
                li.list-inline-item
                  a.product__icon-link(href="#")
                    i.fas.fa-shopping-cart
                li.list-inline-item
                  a.product__icon-link(href="#")
                    i.far.fa-heart
              button.button.button--orange.button--border-radius Order Now
  section.new-arrivals
    .container
      .new-arrivals__header
        h3.new-arrivals__heading
          span.cl-orange Related 
          | Product
        p.new-arrivals__desc Lorem Ipsum is simply dummy text of the printing and typesetting industry
      .new-arrivals__inner
        .row.new-arrivals__product-list
          -
            var newArrivalsData = [
              {
                image: "images/product3.png",
                name: "Reebok Track Jacket",
                price: "100$",
                size: "s - m - xl",
                color: ["red", "black", "blue", "green"]
              },
              {
                image: "images/product1.png",
                name: "Reebok Track Jacket",
                price: "100$",
                size: "s - m - xl",
                color: ["red", "black", "blue", "green"]
              },
              {
                image: "images/product2.png",
                name: "Reebok Track Jacket",
                price: "100$",
                size: "s - m - xl",
                color: ["red", "black", "blue", "green"]
              },
              {
                image: "images/product3.png",
                name: "Reebok Track Jacket",
                price: "100$",
                size: "s - m - xl",
                color: ["red", "black", "blue", "green"]
              }
            ]
          each item in newArrivalsData
            .col-md-3
              .card.product
                .product__image
                  a(href="#")
                    img.card-img-top(
                    src= item.image
                    alt="product new arrivals"
                    )
                .card-body
                  h5.product__title
                    a(href="#")= item.name
                  .product__price= item.price
                .product__summary
                  .product__size
                    span sizes : 
                    span= item.size
                  ul.list-inline.product__color
                    each val, index in item.color
                      li.list-inline-item
                        span.circle(
                          class= `circle--${val}`
                        )
                  hr.product__devider
                  ul.list-inline.product__action
                    li.list-inline-item
                      a.product__icon-link(href="#")
                        i.fas.fa-share-alt
                    li.list-inline-item
                      a.product__icon-link(href="#")
                        i.fas.fa-shopping-cart
                    li.list-inline-item
                      a.product__icon-link(href="#")
                        i.far.fa-heart
  section.news-letter
    .container
      .news-letter__inner
        .row.align-items-center
          .col-12.col-md-6
            .news-letter__content
              h3.news-letter__title News letter
              .news-letter__desc join us now to get all news and special offers
          .col-12.col-sm-6
            button.button.button--orange(type="button") join us

