extends modules/layout/_page-default

block head
  +head('Shopy Product Show')
block main
  section.products-content
    .container
      .row
        .col-12.col-md-3
          .categories
            h4.categories__title Categories
            ul.categories__list
              each item, index in ["Man", "Women", "Childrens", "Hot Deals"]
                li.categories__item
                  a(href="#")= item
          .price-filter
            h4.price-filter__title Price Filter
            .price-filter__feild
              input.js-price-range(
                type="text"
                class="span2"
                data-slider-min="100"
                data-slider-max="1100"
                data-slider-step="5"
                value="475,700" data-value="475,700"
                data-slider-value="[250,450]"
              )
            .price-filter__inner
              .price-filter__input-feild
                label(for= "lower-price") From
                input#lower-price(type="text")
              .price-filter__input-feild
                label(for= "upper-price") To
                input#upper-price(type="text")
          .sizes-filter
            h4.sizes-filter__title Size
            ul.sizes-filter__list
              -
                var sizeFilter = [
                  {
                    name: "sizeFilter",
                    id: "sizeSmallFilter",
                    label: "Small"
                  },
                  {
                    name: "sizeFilter",
                    id: "sizeMediumFilter",
                    label: "Medium"
                  },
                  {
                    name: "sizeFilter",
                    id: "sizeLargeFilter",
                    label: "Large"
                  },
                  {
                    name: "sizeFilter",
                    id: "sizeXLargeFilter",
                    label: "X Large"
                  }
                ]
              each item in sizeFilter
                li.sizes-filter__item
                  +group-input-radio({
                    name: item.name,
                    id: item.id,
                    label: item.label
                  })
          .brands-filter
            h4.brands-filter__title Brand
            ul.brands-filter__list
              -
                var brandFilter = [
                  {
                    name: "brandFilter",
                    id: "brandReebok",
                    label: "Reebok"
                  },
                  {
                    name: "brandFilter",
                    id: "brandAddias",
                    label: "Addias"
                  },
                  {
                    name: "brandFilter",
                    id: "brandNike",
                    label: "Nike"
                  },
                  {
                    name: "brandFilter",
                    id: "brandActive",
                    label: "Active"
                  }
                ]
              each item in brandFilter
                li.brands-filter__item
                  +group-input-radio({
                    name: item.name,
                    id: item.id,
                    label: item.label
                  })
        .col-12.col-md-9
          .row.js-multiple-row-product
            -
              var newArrivalsData = [
                {
                  image: "images/product1.png",
                  name: "Reebok Track Jacket",
                  price: "100$",
                  size: "s - m - xl",
                  color: ["red", "black", "blue", "green"]
                },
                {
                  image: "images/product2.png",
                  name: "Reebok Track Jacket",
                  price: "100$",
                  size: "s - m - xl",
                  color: ["red", "black", "blue", "green"]
                },
                {
                  image: "images/product3.png",
                  name: "Reebok Track Jacket",
                  price: "100$",
                  size: "s - m - xl",
                  color: ["red", "black", "blue", "green"]
                },
                {
                  image: "images/product2.png",
                  name: "Reebok Track Jacket",
                  price: "100$",
                  size: "s - m - xl",
                  color: ["red", "black", "blue", "green"]
                },
                {
                  image: "images/product3.png",
                  name: "Reebok Track Jacket",
                  price: "100$",
                  size: "s - m - xl",
                  color: ["red", "black", "blue", "green"]
                },
                {
                  image: "images/product1.png",
                  name: "Reebok Track Jacket",
                  price: "100$",
                  size: "s - m - xl",
                  color: ["red", "black", "blue", "green"]
                },
                {
                  image: "images/product1.png",
                  name: "Reebok Track Jacket",
                  price: "100$",
                  size: "s - m - xl",
                  color: ["red", "black", "blue", "green"]
                },
                {
                  image: "images/product3.png",
                  name: "Reebok Track Jacket",
                  price: "100$",
                  size: "s - m - xl",
                  color: ["red", "black", "blue", "green"]
                },
                {
                  image: "images/product2.png",
                  name: "Reebok Track Jacket",
                  price: "100$",
                  size: "s - m - xl",
                  color: ["red", "black", "blue", "green"]
                },
                {
                  image: "images/product3.png",
                  name: "Reebok Track Jacket",
                  price: "100$",
                  size: "s - m - xl",
                  color: ["red", "black", "blue", "green"]
                },
                {
                  image: "images/product3.png",
                  name: "Reebok Track Jacket",
                  price: "100$",
                  size: "s - m - xl",
                  color: ["red", "black", "blue", "green"]
                },
                {
                  image: "images/product2.png",
                  name: "Reebok Track Jacket",
                  price: "100$",
                  size: "s - m - xl",
                  color: ["red", "black", "blue", "green"]
                },
                {
                  image: "images/product3.png",
                  name: "Reebok Track Jacket",
                  price: "100$",
                  size: "s - m - xl",
                  color: ["red", "black", "blue", "green"]
                },
                {
                  image: "images/product3.png",
                  name: "Reebok Track Jacket",
                  price: "100$",
                  size: "s - m - xl",
                  color: ["red", "black", "blue", "green"]
                },
                {
                  image: "images/product3.png",
                  name: "Reebok Track Jacket",
                  price: "100$",
                  size: "s - m - xl",
                  color: ["red", "black", "blue", "green"]
                },
                {
                  image: "images/product3.png",
                  name: "Reebok Track Jacket",
                  price: "100$",
                  size: "s - m - xl",
                  color: ["red", "black", "blue", "green"]
                },
                {
                  image: "images/product3.png",
                  name: "Reebok Track Jacket",
                  price: "100$",
                  size: "s - m - xl",
                  color: ["red", "black", "blue", "green"]
                },
                {
                  image: "images/product3.png",
                  name: "Reebok Track Jacket",
                  price: "100$",
                  size: "s - m - xl",
                  color: ["red", "black", "blue", "green"]
                },
                {
                  image: "images/product3.png",
                  name: "Reebok Track Jacket",
                  price: "100$",
                  size: "s - m - xl",
                  color: ["red", "black", "blue", "green"]
                },
                {
                  image: "images/product3.png",
                  name: "Reebok Track Jacket",
                  price: "100$",
                  size: "s - m - xl",
                  color: ["red", "black", "blue", "green"]
                },
                {
                  image: "images/product3.png",
                  name: "Reebok Track Jacket",
                  price: "100$",
                  size: "s - m - xl",
                  color: ["red", "black", "blue", "green"]
                }

              ]
            each item in newArrivalsData
              .col-12.col-md-6.col-lg-4
                .card.product
                  .product__image
                    a(href="#")
                      img.card-img-top(
                      src= item.image
                      alt="product new arrivals"
                      )
                  .card-body
                    h5.product__title
                      a(href="#")= item.name
                    .product__price= item.price
                  .product__summary
                    h5.product__title
                      a(href="#")= item.name
                    .product__size
                      span sizes : 
                      span= item.size
                    ul.list-inline.product__color
                      each val, index in item.color
                        li.list-inline-item
                          span.circle(
                            class= `circle--${val}`
                          )
                    hr.product__devider
                    ul.list-inline.product__action
                      li.list-inline-item
                        a.product__icon-link(href="#")
                          i.fas.fa-share-alt
                      li.list-inline-item
                        a.product__icon-link(href="#")
                          i.fas.fa-shopping-cart
                      li.list-inline-item
                        a.product__icon-link(href="#")
                          i.far.fa-heart
  section.news-letter
    .container
      .news-letter__inner
        .row.align-items-center
          .col-12.col-md-6
            .news-letter__content
              h3.news-letter__title News letter 
              .news-letter__desc join us now to get all news and special offers 
          .col-12.col-md-6
            form.form-inline.news-letter__search
              .news-letter__input-feild
                .news-letter__icon
                  i.far.fa-envelope
                input.news-letter__input(
                  type="email"
                  placeholder="type your email here"
                )
              button.button.button--orange(type="submit") join us 
