extends modules/layout/_page-default

block head
  +head('Profile | Looper - Bootstrap 4 Admin Theme')
block modal
  +followerModal()
  +followingModal()
  +membersModal()
block sidebar
  +sidebar('User', 'ul-03-page-user-activities.html')
block main
  section.main-content
    section.main-content__inner--fluid
      .page-cover
        .page-cover__content
          a.user-avatar.user-avatar--xl(href="ul-02-page-user-profile.html")
            img(src="images/profile.jpg", alt="avatar")
          h2.page-cover__heading
            | Beni Arisandi
          .rating
            -
              var startRating = ['fa fa-star', 'fa fa-star', 'fa fa-star', 'fa fa-star', 'far fa-star'];
            each item in startRating
              i(class= `${item}`)
          p.text--muted
            | Project Manager @CreativeDivision
          p Huge fan of HTML, CSS and Javascript. Web design and open source lover.
        .page-cover__controls
          a(
            href='#'
            class="button button--link" 
            data-toggle="modal"
            data-target="#followersModal"
          )
            | 2,159 Followers
          a(
            href='#'
            class="button button--link" 
            data-toggle="modal"
            data-target="#followingModal"
          )
            | 136 Following
      nav.page-navs
        .page-navs__inner
          .nav.nav-center.nav-tabs
            -
              var navList = [
                {
                  link: 'ul-02-page-user-profile.html',
                  name: 'Overview'
                },
                {
                  link: 'ul-03-page-user-activities.html',
                  name: 'Activities',
                  badge: 16,
                  isActive: true
                },
                {
                  link: 'ul-04-page-user-teams.html',
                  name: 'Teams'
                },
                {
                  link: 'ul-05-page-user-projects.html',
                  name: 'Projects'
                },
                {
                  link: 'ul-06-page-user-tasks.html',
                  name: 'Tasks'
                },
                {
                  link: 'ul-07-page-user-profile-setting.html',
                  name: 'Settings'
                }
              ];
            each item in navList
              a.nav-link.js-profile-tab(
                href= item.link
                class= item.isActive ? 'active' : null
              )
                | #{item.name}
                if item.badge
                  span.badge
                    | #{item.badge}
      .page-inner
        nav(aria-label="breadcrumb")
          ol.breadcrumb
            li.breadcrumb-item.active(aria-current="page")
              a(href="ul-02-page-user-profile.html")
                i.fa.fa-angle-left.breadcrumb__icon
                | Overview
        h2.page-inner__title Activities
        section.user-activities
          h3.user-activities__heading Today
          ul.timeline
            li.timeline__item
              .timeline__figure
                span.tile.tile--circle.tile--sm
                  i.far.fa-calendar-alt
              .timeline__body
                .timeline__content
                  h4.timeline__title
                    a(href="#") Management Meeting - W3 evaluation
                  p.timeline__notify
                    a.timeline__user(href="#") Jeffrey Wells
                    span created a schedule
                  span.timeline__date.d-sm-none  About a minute ago
                .d-none.d-sm-block
                  span.timeline__date  About a minute ago
            li.timeline__item
              .timeline__figure
                span.tile.tile--circle.tile--sm
                  i.oi.oi-chat
              .timeline__body
                .timeline__content
                  h4.timeline__title
                    a(href="#") Support Convertation
                  p.timeline__notify
                    a.timeline__user(href="#") Anna Vargas
                    span logged a chat with team
                  span.timeline__date.d-sm-none  3 hours ago
                .d-none.d-sm-block
                  span.timeline__date  3 hours ago
        section.user-activities
          h3.user-activities__heading Yesterday
          ul.timeline
            li.timeline__item
              .timeline__figure
                span.tile.tile--circle.tile--sm
                  i.fa.fa-tasks
              .timeline__body
                .timeline__content
                  h4.timeline__title
                    +group-input-checkbox({
                      name: 'checkbox',
                      id: 'checkbox13'
                    })(class= 'input-checkbox-custom--no-label')
                    a(href="#") Daily Report - Dealing targeting
                  p.timeline__notify
                    a.timeline__user(href="#") Arthur Carroll
                    span created a todo on task
                  span.timeline__date.d-sm-none 8:14pm
                .d-none.d-sm-block
                  span.timeline__date 8:14pm
        section.user-activities
          h3.user-activities__heading January 25, 2018
          ul.timeline
            li.timeline__item
              .timeline__figure
                span.tile.tile--circle.tile--sm
                  i.fa.fa-cube
              .timeline__body
                .timeline__content
                  h4.timeline__title
                    a(href="#") Project updated by Sara Carr
                  p.timeline__notify
                    a.timeline__user(href="#") Sara Carr
                    span updated
                    strong Online Store App
                    span to
                    a.timeline__user(href="#") Online Store
                  span.timeline__date.d-sm-none 3:21am
                .d-none.d-sm-block
                  span.timeline__date 3:21am
            li.timeline__item
              .timeline__figure
                span.tile.tile--circle.tile--sm
                  i.fa.fa-tasks
              .timeline__body
                .timeline__content
                  h4.timeline__title
                    a(href="#") Someone assigned you to a task
                  p.timeline__notify
                    a.timeline__user(href="#") Angela Peterson
                    span assign 
                    a.timeline__user(href="#") Make lemonade from scratch
                    span to you
                  span.timeline__date.d-sm-none 5:21pm
                .d-none.d-sm-block
                  span.timeline__date 5:21pm
            li.timeline__item
              .timeline__figure
                span.tile.tile--circle.tile--sm
                  i.oi.oi-person
              .timeline__body
                .timeline__content
                  h4.timeline__title
                    a(href="#") You have new followers
                  .avatar-team
                    -
                      var userActivityMemberTeam = [
                        {
                          avatar: 'images/uifaces4.jpg'
                        },
                        {
                          avatar: 'images/uifaces5.jpg'
                        },
                        {
                          avatar: 'images/uifaces6.jpg'
                        },
                        {
                          avatar: 'images/uifaces7.jpg',
                        }
                      ];
                    each item in userActivityMemberTeam
                      a.user-avatar.user-avatar--sm
                        img(
                          src= item.avatar ? `${item.avatar}` : null 
                          alt= 'avatar'
                        )
                  p.timeline__notify
                    a.timeline__user(href="#") Willie Dixon
                    span and 3 others followed you
                  span.timeline__date.d-sm-none 10:32pm
                .d-none.d-sm-block
                  span.timeline__date 10:32pm
    +footer()
