extends modules/layout/_page-default

block head
  +head('Profile | Looper - Bootstrap 4 Admin Theme')
block modal
  +followerModal()
  +followingModal()
  +membersModal()
block sidebar
  +sidebar('User', 'ul-04-page-user-teams.html')
block main
  section.main-content
    section.main-content__inner--fluid
      .page-cover
        .page-cover__content
          a.user-avatar.user-avatar--xl(href="ul-02-page-user-profile.html")
            img(src="images/profile.jpg", alt="avatar")
          h2.page-cover__heading
            | Beni Arisandi
          .rating
            -
              var startRating = ['fa fa-star', 'fa fa-star', 'fa fa-star', 'fa fa-star', 'far fa-star'];
            each item in startRating
              i(class= `${item}`)
          p.text--muted
            | Project Manager @CreativeDivision
          p Huge fan of HTML, CSS and Javascript. Web design and open source lover.
        .page-cover__controls
          a(
            href='#'
            class="button button--link" 
            data-toggle="modal"
            data-target="#followersModal"
          )
            | 2,159 Followers
          a(
            href='#'
            class="button button--link" 
            data-toggle="modal"
            data-target="#followingModal"
          )
            | 136 Following
      nav.page-navs
        .page-navs__inner
          .nav.nav-center.nav-tabs
            -
              var navList = [
                {
                  link: 'ul-02-page-user-profile.html',
                  name: 'Overview',
                },
                {
                  link: 'ul-03-page-user-activities.html',
                  name: 'Activities',
                  badge: 16
                },
                {
                  link: 'ul-04-page-user-teams.html',
                  name: 'Teams',
                  isActive: true
                },
                {
                  link: 'ul-05-page-user-projects.html',
                  name: 'Projects'
                },
                {
                  link: 'ul-06-page-user-tasks.html',
                  name: 'Tasks'
                },
                {
                  link: 'ul-07-page-user-profile-setting.html',
                  name: 'Settings'
                }
              ];
            each item in navList
              a.nav-link.js-profile-tab(
                href= item.link
                class= item.isActive ? 'active' : null
              )
                | #{item.name}
                if item.badge
                  span.badge
                    | #{item.badge}
      .page-inner
        nav(aria-label="breadcrumb")
          ol.breadcrumb
            li.breadcrumb-item.active(aria-current="page")
              a(href="ul-02-page-user-profile.html")
                i.fa.fa-angle-left.breadcrumb__icon
                | Overview
        h2.page-inner__title Teams
          span.page-inner__totals 23 Totals
        .row
          .col-lg-6
            .card.user-team
              .card-body
                .user-team__media
                  .user-team__avatar
                    a.user-avatar.user-avatar--lg(href="#")
                      img(src="images/team4.jpg", alt="user team")
                  .user-team__media-body
                    h5.card-title
                      a(href="#") Creative Division
                    h6.card-subtitle Event Planner
                  a.button.user-team__chat.button--link(
                    href="#"
                    data-toggle="tooltip"
                    title=""
                    data-original-title="Chat with teams"
                  )
                    i.oi.oi-chat
                p We make stunning and cool responsive web and app design which suitable for any project purpose for your business.
                hr
                .rating.rating--sm
                  -
                    var startRating = ['fa fa-star', 'fa fa-star', 'fa fa-star', 'fa fa-star', 'far fa-star'];
                  each item in startRating
                    i(class= `${item}`)
                ul.user-team__info
                  li
                    span.fa.fa-map-marker.text--muted
                    span London
                  li
                    span.fa.fa-flag.text--muted
                    span Since Oct 10, 2013
                .avatar-team
                  -
                    var teamMember = [
                      {
                        avatar: 'images/uifaces6.jpg',
                        name: 'Andrew Kim'
                      },
                      {
                        avatar: 'images/uifaces7.jpg',
                        name: 'Bryan Morgan'
                      },
                      {
                        avatar: 'images/uifaces8.jpg',
                        name: 'Larry Robinson'
                      },
                      {
                        avatar: 'images/uifaces9.jpg',
                        name: 'Beverly Simpson'
                      },
                      {
                        avatar: 'images/uifaces10.jpg',
                        name: 'Robinson'
                      }
                    ];
                  each item in teamMember
                    a.user-avatar(
                      href="#"
                      data-toggle="tooltip"
                      title
                      data-original-title= item.name ? `${item.name}` : null 
                    )
                      img(
                        src= item.avatar ? `${item.avatar}` : null 
                        alt= item.name ? `${item.name}` : null 
                      )
                  a.tile.tile--circle(
                    href="#"
                    data-toggle="modal"
                    data-target="#membersModal"
                  )
                    | +23
              .card-footer
                -
                  var userTeamItem = [
                    {
                      count: '135',
                      name: 'Projects'
                    },
                    {
                      count: '6',
                      name: 'On Going'
                    },
                    {
                      count: '35',
                      name: 'Tasks'
                    }
                  ];
                each item in userTeamItem
                  a.user-team__item(href="#")
                    if item.count
                      strong= item.count
                    if item.name
                      span= item.name 
          .col-lg-6
            .card.user-team
              .card-body
                .user-team__media
                  .user-team__avatar
                    a.user-avatar.user-avatar--lg(href="#")
                      img(src="images/bootstrap.svg", alt="user team")
                  .user-team__media-body
                    h5.card-title
                      a(href="#") Bootstrap
                    h6.card-subtitle Design Team
                  a.button.user-team__chat.button--link(
                    href="#"
                    data-toggle="tooltip"
                    title=""
                    data-original-title="Chat with teams"
                  )
                    i.oi.oi-chat
                p We make stunning and cool responsive web and app design which suitable for any project purpose for your business.
                hr
                .rating.rating--sm
                  -
                    var startRating = ['fa fa-star', 'fa fa-star', 'fa fa-star', 'fa fa-star', 'far fa-star'];
                  each item in startRating
                    i(class= `${item}`)
                ul.user-team__info
                  li
                    span.fa.fa-map-marker.text--muted
                    span London
                  li
                    span.fa.fa-flag.text--muted
                    span Since Oct 10, 2013
                .avatar-team
                  -
                    var teamMember = [
                      {
                        avatar: 'images/uifaces6.jpg',
                        name: 'Andrew Kim'
                      },
                      {
                        avatar: 'images/uifaces7.jpg',
                        name: 'Bryan Morgan'
                      },
                      {
                        avatar: 'images/uifaces8.jpg',
                        name: 'Larry Robinson'
                      },
                      {
                        avatar: 'images/uifaces9.jpg',
                        name: 'Beverly Simpson'
                      },
                      {
                        avatar: 'images/uifaces10.jpg',
                        name: 'Robinson'
                      }
                    ];
                  each item in teamMember
                    a.user-avatar(
                      href="#"
                      data-toggle="tooltip"
                      title
                      data-original-title= item.name ? `${item.name}` : null 
                    )
                      img(
                        src= item.avatar ? `${item.avatar}` : null 
                        alt= item.name ? `${item.name}` : null 
                      )
                  a.tile.tile--circle(
                    href="#"
                    data-toggle="modal"
                    data-target="#membersModal"
                  )
                    | +23
              .card-footer
                -
                  var userTeamItem = [
                    {
                      count: '135',
                      name: 'Projects'
                    },
                    {
                      count: '6',
                      name: 'On Going'
                    },
                    {
                      count: '35',
                      name: 'Tasks'
                    }
                  ];
                each item in userTeamItem
                  a.user-team__item(href="#")
                    if item.count
                      strong= item.count
                    if item.name
                      span= item.name 
          .col-lg-6
            .card.user-team
              .card-body
                .user-team__media
                  .user-team__avatar
                    a.user-avatar.user-avatar--lg(href="#")
                      img(src="images/sketch.svg", alt="user team")
                  .user-team__media-body
                    h5.card-title
                      a(href="#") Sketch
                    h6.card-subtitle Creative Agency
                  a.button.user-team__chat.button--link(
                    href="#"
                    data-toggle="tooltip"
                    title=""
                    data-original-title="Chat with teams"
                  )
                    i.oi.oi-chat
                p We make stunning and cool responsive web and app design which suitable for any project purpose for your business.
                hr
                .rating.rating--sm
                  -
                    var startRating = ['fa fa-star', 'fa fa-star', 'fa fa-star', 'fa fa-star', 'far fa-star'];
                  each item in startRating
                    i(class= `${item}`)
                ul.user-team__info
                  li
                    span.fa.fa-map-marker.text--muted
                    span London
                  li
                    span.fa.fa-flag.text--muted
                    span Since Oct 10, 2013
                .avatar-team
                  -
                    var teamMember = [
                      {
                        avatar: 'images/uifaces6.jpg',
                        name: 'Andrew Kim'
                      },
                      {
                        avatar: 'images/uifaces7.jpg',
                        name: 'Bryan Morgan'
                      },
                      {
                        avatar: 'images/uifaces8.jpg',
                        name: 'Larry Robinson'
                      },
                      {
                        avatar: 'images/uifaces9.jpg',
                        name: 'Beverly Simpson'
                      },
                      {
                        avatar: 'images/uifaces10.jpg',
                        name: 'Robinson'
                      }
                    ];
                  each item in teamMember
                    a.user-avatar(
                      href="#"
                      data-toggle="tooltip"
                      title
                      data-original-title= item.name ? `${item.name}` : null 
                    )
                      img(
                        src= item.avatar ? `${item.avatar}` : null 
                        alt= item.name ? `${item.name}` : null 
                      )
                  a.tile.tile--circle(
                    href="#"
                    data-toggle="modal"
                    data-target="#membersModal"
                  )
                    | +23
              .card-footer
                -
                  var userTeamItem = [
                    {
                      count: '135',
                      name: 'Projects'
                    },
                    {
                      count: '6',
                      name: 'On Going'
                    },
                    {
                      count: '35',
                      name: 'Tasks'
                    }
                  ];
                each item in userTeamItem
                  a.user-team__item(href="#")
                    if item.count
                      strong= item.count
                    if item.name
                      span= item.name     
          .col-lg-6
            .card.user-team
              .card-body
                .user-team__media
                  .user-team__avatar
                    a.tile.tile--teal.tile--lg.tile--circle(href="#") gd
                  .user-team__media-body
                    h5.card-title
                      a(href="#") Good Deck
                    h6.card-subtitle Software Developer
                  a.button.user-team__chat.button--link(
                    href="#"
                    data-toggle="tooltip"
                    title=""
                    data-original-title="Chat with teams"
                  )
                    i.oi.oi-chat
                p We make stunning and cool responsive web and app design which suitable for any project purpose for your business.
                hr
                .rating.rating--sm
                  -
                    var startRating = ['fa fa-star', 'fa fa-star', 'fa fa-star', 'fa fa-star', 'fa fa-star'];
                  each item in startRating
                    i(class= `${item}`)
                ul.user-team__info
                  li
                    span.fa.fa-map-marker.text--muted
                    span Jakarta
                  li
                    span.fa.fa-flag.text--muted
                    span Since May 21, 2016
                .avatar-team
                  -
                    var teamMember = [
                      {
                        avatar: 'images/uifaces16.jpg',
                        name: 'Andrew Kim'
                      },
                      {
                        avatar: 'images/uifaces17.jpg',
                        name: 'Bryan Morgan'
                      },
                      {
                        avatar: 'images/uifaces18.jpg',
                        name: 'Larry Robinson'
                      },
                      {
                        avatar: 'images/uifaces19.jpg',
                        name: 'Beverly Simpson'
                      },
                      {
                        avatar: 'images/uifaces20.jpg',
                        name: 'Robinson'
                      }
                    ];
                  each item in teamMember
                    a.user-avatar(
                      href="#"
                      data-toggle="tooltip"
                      title
                      data-original-title= item.name ? `${item.name}` : null 
                    )
                      img(
                        src= item.avatar ? `${item.avatar}` : null 
                        alt= item.name ? `${item.name}` : null 
                      )
                  a.tile.tile--circle(
                    href="#"
                    data-toggle="modal"
                    data-target="#membersModal"
                  )
                    | +16
              .card-footer
                -
                  var userTeamItem = [
                    {
                      count: '63',
                      name: 'Projects'
                    },
                    {
                      count: '11',
                      name: 'On Going'
                    },
                    {
                      count: '65',
                      name: 'Tasks'
                    }
                  ];
                each item in userTeamItem
                  a.user-team__item(href="#")
                    if item.count
                      strong= item.count
                    if item.name
                      span= item.name 
        .p-3.text-center
          .spinner-border.text--primary(role="status")
            .sr-only Loading...
    +footer()
