extends modules/layout/_page-default

block head
  +head('Profile | Looper - Bootstrap 4 Admin Theme')
block modal
  +followerModal()
  +followingModal()
  +membersModal()
block sidebar
  +sidebar('User', 'ul-05-page-user-projects.html')
block main
  section.main-content
    section.main-content__inner--fluid
      .page-cover
        .page-cover__content
          a.user-avatar.user-avatar--xl(href="ul-02-page-user-profile.html")
            img(src="images/profile.jpg", alt="avatar")
          h2.page-cover__heading
            | Beni Arisandi
          .rating
            -
              var startRating = ['fa fa-star', 'fa fa-star', 'fa fa-star', 'fa fa-star', 'far fa-star'];
            each item in startRating
              i(class= `${item}`)
          p.text--muted
            | Project Manager @CreativeDivision
          p Huge fan of HTML, CSS and Javascript. Web design and open source lover.
        .page-cover__controls
          a(
            href='#'
            class="button button--link" 
            data-toggle="modal"
            data-target="#followersModal"
          )
            | 2,159 Followers
          a(
            href='#'
            class="button button--link" 
            data-toggle="modal"
            data-target="#followingModal"
          )
            | 136 Following
      nav.page-navs
        .page-navs__inner
          .nav.nav-center.nav-tabs
            -
              var navList = [
                {
                  link: 'ul-02-page-user-profile.html',
                  name: 'Overview',
                },
                {
                  link: 'ul-03-page-user-activities.html',
                  name: 'Activities',
                  badge: 16
                },
                {
                  link: 'ul-04-page-user-teams.html',
                  name: 'Teams'
                },
                {
                  link: 'ul-05-page-user-projects.html',
                  name: 'Projects',
                  isActive: true
                },
                {
                  link: 'ul-06-page-user-tasks.html',
                  name: 'Tasks'
                },
                {
                  link: 'ul-07-page-user-profile-setting.html',
                  name: 'Settings'
                }
              ];
            each item in navList
              a.nav-link.js-profile-tab(
                href= item.link
                class= item.isActive ? 'active' : null
              )
                | #{item.name}
                if item.badge
                  span.badge
                    | #{item.badge}
      .page-inner
        nav(aria-label="breadcrumb")
          ol.breadcrumb
            li.breadcrumb-item.active(aria-current="page")
              a(href="ul-02-page-user-profile.html")
                i.fa.fa-angle-left.breadcrumb__icon
                | Overview
        h2.page-inner__title Projects
          span.page-inner__totals 42 Totals
        .row
          -
            var projectsData = [
              {
                deadline: {
                  icon: 'fa fa-calendar-alt',
                  date: '07 Aug 2018'
                },
                tile: {
                  type: 'purple',
                  content: 'lt'
                },
                progress: {
                  type: 'purple',
                  width: '74%',
                  valueNow: '2181'
                },
                avatar: 'images/team4.jpg',
                title: 'Looper Admin Theme',
                subtitle: 'Progress in 74% - Last update 1d',
                memberPlus: 21,
                budget: '40,000',
                tasks: 775
              },
              {
                deadline: {
                  icon: 'fa fa-calendar-alt',
                  date: '15 Sep 2018'
                },
                tile: {
                  type: 'indigo',
                  content: 'sp'
                },
                progress: {
                  type: 'indigo',
                  width: '22%',
                  valueNow: '867'
                },
                avatar: 'images/team1.jpg',
                title: 'Smart Paper',
                subtitle: 'Progress in 22% - Last update 2h',
                memberPlus: 6,
                budget: '10,000',
                tasks: 3090
              },
              {
                deadline: {
                  icon: 'fa fa-calendar-alt',
                  date: '15 Jul 2018'
                },
                tile: {
                  type: 'yellow',
                  content: 'os'
                },
                progress: {
                  type: 'yellow',
                  width: '99%',
                  valueNow: '6683'
                },
                avatar: 'images/team2.png',
                title: 'Online Store',
                subtitle: 'Progress in 99% - Last update 2d',
                memberPlus: 42,
                budget: '100,000',
                tasks: 100
              },
              {
                deadline: {
                  icon: 'fa fa-calendar-alt',
                  date: '20 Sep 2018'
                },
                tile: {
                  type: 'blue',
                  content: 'ba'
                },
                progress: {
                  type: 'blue',
                  width: '35%',
                  valueNow: '112'
                },
                avatar: 'images/bootstrap.svg',
                title: 'Booking App',
                subtitle: 'Progress in 35% - Last update 4h',
                memberPlus: 8,
                budget: '5,000',
                tasks: 209
              },
              {
                deadline: {
                  icon: 'fa fa-calendar-alt',
                  date: '15 Nov 2018'
                },
                tile: {
                  type: 'teal',
                  content: 'sb'
                },
                progress: {
                  type: 'teal',
                  width: '32%',
                  valueNow: '461'
                },
                avatar: 'images/sketch.svg',
                title: 'SVG Icon Bundle',
                subtitle: 'Progress in 32% - Last update 1d',
                memberPlus: 8,
                budget: '6,000',
                tasks: 958
              },
              {
                deadline: {
                  icon: 'fa fa-calendar-alt',
                  date: '18 Aug 2018'
                },
                tile: {
                  type: 'pink',
                  content: 'sp'
                },
                progress: {
                  type: 'pink',
                  width: '93%',
                  valueNow: '3981'
                },
                avatar: 'images/team4.jpg',
                title: 'Syrena Project',
                subtitle: 'Progress in 93% - Last update 8h',
                memberPlus: 32,
                budget: '50,000',
                tasks: 314
              },
              {
                isFinish: true,
                tile: {
                  type: 'green',
                  content: 'mg'
                },
                avatar: 'images/team2.png',
                title: 'Mobile App Gex',
                subtitle: 'Progress in 100% - Last update 1m',
                memberPlus: 26,
                budget: '40,000',
                tasks: 0
              },
              {
                isFinish: true,
                tile: {
                  type: 'red',
                  content: 'lb'
                },
                avatar: 'images/bootstrap.svg',
                title: 'Landing Page Booster',
                subtitle: 'Progress in 100% - Last update 1w',
                memberPlus: 2,
                budget: '1,000',
                tasks: 0
              },
              {
                isFinish: true,
                tile: {
                  type: 'orange',
                  content: 'sb'
                },
                avatar: 'images/team1.jpg',
                title: 'Stilearn Branding',
                subtitle: 'Progress in 100% - Last update 2m',
                memberPlus: 12,
                budget: '20,000',
                tasks: 0
              }
            ];
          -
            var moreProjectOption = ['View Project', 'Add Member', 'Edit', 'Remove'];
          -
            var projectMembers = [
              {
                avatar: 'images/uifaces6.jpg',
                name: 'Andrew Kim'
              },
              {
                avatar: 'images/uifaces8.jpg',
                name: 'Bryan Morgan'
              },
              {
                avatar: 'images/uifaces7.jpg',
                name: 'Larry Robinson'
              },
              {
                avatar: 'images/uifaces9.jpg',
                name: 'Beverly Simpson'
              },
              {
                avatar: 'images/uifaces10.jpg',
                name: 'Robinson'
              }
            ]
          each item in projectsData
            .col-lg-6.col-xl-4
              .card.user-project
                .card-header
                  if item.deadline
                    .user-project__deadline(
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title
                      data-original-title="Deadline"
                    )
                      i.fa.fa-calendar-alt.text--muted
                      span
                        | #{item.deadline.date}
                  if item.isFinish
                    span.user-project__finish(
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title
                      data-original-title="Finished"
                    )
                      i.fa.fa-fw.fa-check-circle.cl--teal
                  .dropdown.more-info
                    button.button.button--link(
                      data-toggle="dropdown"
                      aria-expanded="false"
                      data-display="static"
                    )
                      i.fa.fa-fw.fa-ellipsis-v
                    .dropdown-arrow
                    .dropdown-menu.dropdown-menu-right
                      each val, index in moreProjectOption
                        a.dropdown-item(href="#")
                          | #{val}
                .card-body
                  .avatar-group
                    if item.tile
                      a.tile.tile--lg(
                        class= item.tile.type ? `tile--${item.tile.type}` : null
                        href='#'
                      )
                        | #{item.tile.content}
                    if item.avatar
                      a.user-avatar.user-avatar--xs
                        img(
                          src= item.avatar ? `${item.avatar}` : null
                          alt= 'avatar'
                        )
                  if item.title
                    h5.card-title
                      a(href="#")
                        | #{item.title}
                  if item.subtitle
                    h6.card-subtitle
                      | #{item.subtitle}
                  .avatar-team
                    each member in projectMembers
                      a.user-avatar.user-avatar--sm(
                        href="#"
                        data-toggle="tooltip"
                        title
                        data-original-title= member.name ? `${member.name}` : null 
                      )
                        img(
                          src= member.avatar ? `${member.avatar}` : null 
                          alt= member.name ? `${member.name}` : null 
                        )
                    a.tile.tile--sm.tile--circle(
                      href="#"
                      data-toggle="modal"
                      data-target="#membersModal"
                    )
                      | +#{item.memberPlus}
                  .user-project__summary
                    .user-project__summary-item
                      strong Budget
                      .user-project__value
                        span #{item.budget}
                        span $
                    .user-project__summary-item
                      strong Tasks 
                      .user-project__value
                        span #{item.tasks}
                if item.progress
                  .progress.progress--xs(
                    data-toggle="tooltip"
                    title=""
                    data-original-title= item.progress.width ? item.progress.width : null
                  )
                    .progress-bar(
                      role="progressbar"
                      aria-valuenow= item.progress.valueNow ? `${item.progress.valueNow}` : null
                      aria-valuemin= "0"
                      aria-valuemax= "100"
                      style= item.progress.width ? `width: ${item.progress.width}` : null
                      class= item.progress.type ? `bg--${item.progress.type}` : null
                    )
                      span.sr-only
                        | #{item.progress.width}
    +footer()
